{% extends 'base.html.twig' %}

{% block title %}ExtraSpicySpam{% endblock %}

{% block stylesheets %}
    <style lang="css">
        .ai-images {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-gap: 1rem;
        }

        .ai-image img {
            width: 100%;
        }

        .ai-image p {
            font-size: .8rem;
            margin-top: .2rem;
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="ai-images">
        {% for image in images %}
            {% if image.publicPath is not null %}
                <div class="ai-image">
                    <img src="{{ image.publicPath }}" alt="{{ image.prompt }}">
                    <p>{{ image.prompt }}</p>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}